<% @books.each do |book| %>
  <h3><%= link_to "#{book.title}", "/user/books/#{book.id}" %></h3>
  <p>Author: <%= book.authors.join %></p>
  <p>Genre: <%= book.genres.join %></p>
  <p>Shelf: <%= book.shelves.join %></p>
<% end %>

<h3>Search for a Book</h3>
<%= form_with url: user_books_path, method: :get, local: true do |f| %>
  <%= f.label :search, "Search for a Book" %>
  <%= f.text_field :search %><br><br>
  <%= f.submit("Search") %>
<% end %>

<% if !@searched_books.nil? %>
  <h3>Book Search Results:</h3>
  <% @searched_books.each do |books| %>
    <%= link_to books.title, "/user/books/#{@book.id}" %>
  <% end %>
<% end %>