<%= button_to "My Beautiful Bevy of Books", user_books_path, method: :get %>
<br>
<%= button_to "My Wordly World of Words", user_words_path, method: :get %>
<br>
<br>


<h5>WORD STATS</h5>
<ul>
  <li><%="Average Saved per Book: #{@word_stats[:avg_per_book]}"%></li>
  <li><%="Most Frequently Searched: #{@word_stats[:most_frequent]}"%></li>
  <li><%="Longest Word Searched: #{@word_stats[:longest_word]}"%></li>
</ul>
