<!DOCTYPE html>
<%= stylesheet_link_tag 'signin.css' %>
<html>
  <head>
    <title>EpeolatryFrontEnd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session[:user_id] %>
    <h1><%= "#{greetings.sample}, #{current_user.username}!" %></h1>
    <%= link_to "Log Out", '/sessions'  %>
    <% end %>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
      <% end %>
    <%= yield %>
  </body>
</html>
